---
import Layout from '../layouts/Layout.astro';
import ContactForm from '../components/ContactForm.astro';
---
<Layout title="Welcome to Emilia Galarza" bg='bg-gradient-to-r from-bleached-cedar-800 to-teal-700'>
	<section class="mt-6 pb-10 w-full  items-center justify-center">
		<div class="flex flex-col justify-center items-center gap-6 w-full ">
					<div class="flex items-center w-full">
						<div class="flex flex-col items-center p-2 md:pl-6 justify-start w-1/2 text-center">
							<h1 class="text-white xl:text-6xl font-extrabold sm:text-4xl ">Hi, I'm  Emilia Galarza</h1>
							<h2 class="text-fuchsia-300 font-semibold sm:text-2xl ">Frontend Developer</h2>
						</div>
							<img src="/perfil.jpg" alt="My Photo" class="h-40 w-40 object-cover rounded-full xl:h-112 xl:w-112 md:w-72 md:h-72 sm:w-44 sm:h-44 xl:ml-24 ">
					</div>
					<h3 class="text-zinc-200 mt-2  text-xs text-justify pr-4 pl-4 xl:text-xl md:text-lg md:pl-14 md:pr-14 sm:text-xs xl:pl-28 xl:pr-28 sm:mr-8 sm:ml-8  ">With a passion for coding that goes beyond the surface, I delve into the depths of development frameworks and languages to produce modular, reusable code that sets the standard for high-performance applications in a constantly evolving digital landscape.</h3>
				</div>
		</div>
	</section>


</Layout>

