---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Welcome to Emilia Galarza" bg='bg-gradient-to-r from-bleached-cedar-800 to-teal-700'>
	<section class="mt-6 pb-10 w-full  items-center justify-center">
		
	</section>
</Layout>

