---
import NavOption from './NavOption.astro'
---
<nav class="w-full flex justify-end">
    <ul class="flex justify-center items-center h-20 gap-10 ">
        <li>
            <NavOption title='About  href='about' />
        </li>
        <li>
            <NavOption title='Skills' href='skills' />
        </li>
        <li>
            <NavOption title='Contact' href='contact' />
        </li>
        <li>
            <NavOption title='Projects' href='projects' />
        </li>
    </ul>
</nav>