---
const { href, title,class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, '');
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
	<h1 class="text-white text-xl font-bold font-sans">{title}</h1>
</a>


