---
interface Props {
	title: string;
}

const { title } = Astro.props;
import NavOption from "../components/NavOption";
import HomeRounded from "@mui/icons-material/HomeRounded";
import Person2Rounded from "@mui/icons-material/Person2Rounded";
import BadgeRoundedIcon from "@mui/icons-material/BadgeRounded";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<nav class="bg-black">
			<ul class="flex justify-center items-center h-20">
				<li>
					<NavOption title='Home'  href='home' selected={true} />
				</li>
				<li>
					<NavOption title='About' href='about' />
				</li>
				<li>
					<NavOption title='Contact' href='contact' />
				</li>
				<li>
					<NavOption title='Projects' href='projects' />
				</li>
			</ul>
		</nav>
		<slot />
	</body>
</html>
