---
interface Props {
	title: string;
	bg?: string;
	size?: string;
}

const { title, size } = Astro.props;
const { bg } = Astro.props;
import DesktopNav from "../components/desktopNav.astro";
import MobileNav from "../components/mobileNav.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class={`${bg}`}>
			<div class="flex items-center pr-16 shadow-md sm:h-14 xl:h-20">
				<div class="sm:block xl:hidden md:hidden">
					<MobileNav />
				</div>
				<div class="hidden xl:block md:block w-full">
					<DesktopNav />
				</div>
			</div>
			<slot/>
		</div>
	</body>
</html>
